.hero {
    background-color: var(--dark-grey);
}

.title-hero {
    color: var(--white);
}

.order-button {
    background: var(--light-blue);
    color: var(--white);
}

.adventages-title {
    color: var(--graphyt);
}

.adventages-text {
    color: var(--light-grey);
}

h2 {
    color: var(--graphyt);
}

.our-staff {
    background-color: var(--grey);
}

.name-staff {
    color: var(--graphyt);
}

.position-staff {
    color: var(--light-grey);
}
